<!-- Modal -->
<div class="modal fade" id="filmPopupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="background-color: #151515;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;">Kjøp/Lei</h5><h5 style="color: white;" id=" navn"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col"><img src="" id="bilde" style="width: 260px;" /></div>
                        <div class="col popupTekst">
                            <p id="beskrivelse"></p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col popupTekst">
                            <p style="margin-bottom: 0;">
                                <b>Leieperiode</b><br />
                                Se ferdig på 48 timer.<br />
                                <b>Undertekster</b><br />
                                Dansk, Finsk, Norsk, Svensk<br />
                                <b>Sjanger</b><br />
                            <p id="sjanger"></p>
                        </div>
                        <div class="col" id="id"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="kjopModalKnapp" class="btn btn-primary" style="background-color: #EF8923;"><p style="display: inline-block">Legg til handlekurv Kr </p> <p id="pris" style="display: inline-block"></p> </button>
            </div>
        </div>
    </div>

</div>