
<div class="container mt-100 bg-light p-5">
    <div class="row">
        @{ Html.RenderAction("_DashboardInfo", "Admin");}

    </div>
    <div class="row p-3">
        @{ Html.RenderAction("_OrdreListe", "Admin");}

        @Html.ActionLink("Tilbake til dashboard", "Dashboard")


    </div>
</div>

